.sl-table {
  th.sl-table-title, th.sl-table-options {
    background-color: #f5f5f5;
  }

  .sl-table-title {
    width: 30%;
    font-weight: bold;
  }

  .sl-table-options {
    width: 10%;
  }

  .sl-optional-btn {
    background-color: #f5f5f5;
    color: #000;
    border-color: #f5f5f5;
    text-shadow: none;
  }

  .ant-table-body {
    color: #000;
  }
}

.sc-popover-item {
  font-weight: bold;
  cursor: pointer;
  transition: background-color .2s ease-in-out;
  &:hover {
    background-color: #F4F4F4;
  }
}
