.main-footer {
  flex: 0 0 auto;
  width: 100%;
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background: #1b1d1e;
  white-space: nowrap;
}