.ant-card-body {
  font-weight: bolder;
}

.cs-information-card {
  .send-schedule-btn {
    float: right;
    background-color: #343637;
    border-color: #343637;
    &:hover {
      background-color: #1b1d1e;
      border-color: #1b1d1e;
    }
  }
}
