.add-schedule-popup {
  .ant-modal-header {
    background-color: #1b1d1e;
  }

  .ant-modal-title {
    color: #fff;
  }

  .schedule-popup-text {
    font-weight: bold;
  }

  svg {
    fill: white !important;
  }

  .schedule-btns-wrapper {
    display: flex;
    justify-content: flex-end;
  }
}

.custom-select {
  svg {
    fill: #000 !important;
  }
}